<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>青蛙动画表情</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <!--icon #5-->
  <div class="icon">
    <div class="frog" id="frog-5">

      <div class="body">
        <div class="blush"></div>
        <div class="mouth"></div>
      </div>

      <div class="eyes">
        <div class="eye eye-left">
          <div class="eye-inner">
            <div class="pupil">
              <div class="light"></div>
            </div>
          </div>
        </div>
        <div class="eye eye-right">
          <div class="eye-inner">
            <div class="pupil">
              <div class="light"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>